{%extends "home/base.html"%}

{%block title_name%}
{{product.name}}
{% endblock%}

{%block content%}
{% include "home/sidebar.html" with list=categories %}

<div class='col-lg-9'>
	<div class="row">
		<div class="col-lg-6 text-center">
			<img class="img-fluid" src="{{product.image.url}}">
		</div>

		<div class="col-lg-6">
			<h3>{{product.name}}</h3>
			<h4 class="text-muted">₹ {{product.price|floatformat:2}}</h4>

			<span class="small p-1 border border-info rounded-lg">{{product.category}}</span>
			<h5 class="mt-3">Product Description</h5>
			<p>{{product.description|linebreaks}}</p>
			<form method="post" action="{% url  'add_product' productid=product.id %}">
				{% csrf_token %}
				<button type='submit' class='btn btn-primary'>
					<i class="fa fa-cart-plus" aria-hidden="true"></i>
					Add to Cart 
				</button>
				
			</form>
		</div>


	</div>
</div>


{% endblock %}