{% extends "home/base.html" %}

{% load crispy_forms_tags%}

{%block title_name%}
	Log In
{%endblock%}

{%block nav_account%}
	active
{% endblock %}

{% block content %}
<div class="col-3"></div>
<div class = "col">
	<div class="container text-center mt-5">
		<form method="POST" >
			{% csrf_token %}
			{{form|crispy}}
			<button class="btn btn-primary" type="submit">Log In</button>
		</form>
		<p class="text-secondary my-3">Don't Have an Account? <a href="{% url 'signup' %}">Sign Up</a></p>
	</div>
</div>
<div class="col-3"></div>
{% endblock %}